#politicianList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.politician {
    min-width: 200px;
    max-width: 300px;
    border: 1px dashed slategrey;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}